@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

main{
    margin: auto;
    max-width: 800px;
    min-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

.org{
    padding: 30px 0px 0px 0px;
    font-size: 20px;
}

input#text{
    height: 35px;
    width: 35px;
    font-size: 20px;
}
